@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLOR VARIABLES */
  --surface-background: #f8f8ff;
  --surface-foreground: #ffffff;
  --stroke: #d9e1ec;
  --black-text: #2e2e34;
  --white-text: #ffffff;
  --primary-red: #f62d00;
  --primary-red-40: #f62d0064;
  --primary-red-hover: #da2b04;
}
body {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Google Sans", sans-serif;
  background-color: var(--surface-background);
  color: var(--black-text);
  padding: 20px;
}

button {
  width: 100%;
  background-color: var(--primary-red);
  color: var(--white-text);
}
button:hover {
  background-color: var(--primary-red-hover);
  color: var(--white-text);
}

.btn {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 550;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
main {
  width: 100%;
  max-width: 780px;
  background-color: var(--surface-foreground);
  padding: 56px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid var(--stroke);
}

.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

h2 {
  font-size: 48px;
  letter-spacing: -2px;
  text-align: center;
}
.title p {
  font-size: 20px;
  letter-spacing: -1px;
}

.about {
  background-color: var(--surface-background);
  padding: 20px 32px;
  border-radius: 28px;
}
.about p {
  text-align: center;
  font-size: 18px;
  line-height: 152%;
  color: rgb(96, 96, 96);
}

/* FORM STYLING */
.studentRegForm {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INPUT GROUPS */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-size: 16px;
}

input {
  padding: 18px 16px;
  border-radius: 8px;
  border: 1px solid var(--stroke);
}

input:focus, select:focus {
  outline: none;
  padding: 18px 16px;
  border-radius: 8px;
  border: 1px solid var(--primary-red-40);
}

.select-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select {
  padding: 18px 16px;
  border-radius: 8px;
  border: 1px solid var(--stroke);
}

.login {
  color: var(--primary-red);
  font-weight: 600;
  text-decoration: none;
}

.login:hover {
  color: var(--primary-red-hover);
  text-decoration: underline;
}


@media (max-width: 600px) {
  main {
    padding: 32px 20px;
  }

  h2 {
    font-size: 32px;
  }
}